@font-face {
    font-family: 'BandaRegular';
    src: url('banda-webfont.eot');
    src: url('banda-webfont.eot?#iefix') format('embedded-opentype'),
         url('banda-webfont.woff') format('woff'),
         url('banda-webfont.ttf') format('truetype'),
         url('banda-webfont.svg#BandaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'FranklinGothicStdXCn';
    src: url('franklingothicstd-extracond-webfont.eot');
    src: url('franklingothicstd-extracond-webfont.eot?#iefix') format('embedded-opentype'),
         url('franklingothicstd-extracond-webfont.woff') format('woff'),
         url('franklingothicstd-extracond-webfont.ttf') format('truetype'),
         url('franklingothicstd-extracond-webfont.svg#FranklinGothicStdXCn') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ITCAvantGardeGothicStdDemiCn';
    src: url('itcavantgardestd-demicn-webfont.eot');
    src: url('itcavantgardestd-demicn-webfont.eot?#iefix') format('embedded-opentype'),
         url('itcavantgardestd-demicn-webfont.woff') format('woff'),
         url('itcavantgardestd-demicn-webfont.ttf') format('truetype'),
         url('itcavantgardestd-demicn-webfont.svg#ITCAvantGardeGothicStdDemiCn') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ITCAvantGardeGothicStdBkCn';
    src: url('itcavantgardestd-bkcn-webfont.eot');
    src: url('itcavantgardestd-bkcn-webfont.eot?#iefix') format('embedded-opentype'),
         url('itcavantgardestd-bkcn-webfont.woff') format('woff'),
         url('itcavantgardestd-bkcn-webfont.ttf') format('truetype'),
         url('itcavantgardestd-bkcn-webfont.svg#ITCAvantGardeGothicStdBkCn') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body{
	margin: 0px;
	padding: 0px;
}
body{
	background:#1A1A1A;
	font-family: ITCAvantGardeGothicStdDemiCn, "Gill Sans", "Century Gothic", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
img {
	border: none;
}

.tf_bg{
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;

}
.tf_bg img{
	position:absolute;
	top:0px; /*-482px;	 -(imgh/2 - wh/2) */
	left:0px;	/* calculate a negative value to center horizontally */
	width:100%;	/* windowwidth plus negative value of left */
	/*height:1650px; /* windowheight plus negative value of top */
	z-index: 1;
	display:none;
}
.tf_pattern{
	position:absolute;
	width:100%;
	height:100%;
	background:transparent url(../images/pattern.png) repeat top left;
	z-index:2;
}
.tf_content{
	position:absolute;
	bottom:50px;
	left:50px;
	z-index:10;
	display:none;
}
.tf_content h2{
	color:#fff;
	font-size:90px;
	padding:0;
	margin:0;
	font-family: ITCAvantGardeGothicStdDemiCn, "Gill Sans", "Century Gothic", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-shadow:1px 1px 2px #000;
}
.tf_content p{
	color:#fff;
	padding:0;
	margin:0;
	background:transparent url(../images/bg_content.png) repeat top left;
	padding:40px;
	width:500px;
	font-family: BandaRegular, "Gill Sans", "Century Gothic", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size:20px;
	line-height:25px;
	text-transform:uppercase;
	text-shadow:2px 2px 1px #000;
	-moz-box-shadow:1px 1px 5px #202020;
	-webkit-box-shadow:1px 1px 5px #202020;
	box-shadow:1px 1px 5px #202020;
	border:4px solid #fff;
}
.tf_thumbs{
	position:absolute;	
	z-index:12;
	right:50px;
	top:50%;
	margin-top:-79px;
	border:4px solid #fff;
	-moz-box-shadow:1px 1px 5px #202020;
	-webkit-box-shadow:1px 1px 5px #202020;
	box-shadow:1px 1px 5px #202020;	
	-webkit-box-reflect:
		below 5px
		-webkit-gradient(
			linear,
			left top,
			left bottom,
			from(transparent),
			color-stop(0.6, transparent),
			to(rgb(18, 18, 18))
		);
}
.tf_thumbs img{
	display:block;
}
.tf_loading{
	position:fixed;
	top:50%;
	left:50%;
	margin:-30px 0px 0px -30px;
	width:60px;
	height:60px;
	background:url('/images/loading.gif') no-repeat center center;
	z-index:999;
	opacity:0.7;
}
.tf_next,
.tf_prev{
	width:35px;
	height:28px;
	position:absolute;
	top:45%;
	right:0px;
	z-index:100;
	cursor:pointer;
	background:transparent url(../images/nav.png) no-repeat top left;
	opacity:0.5;
}
.tf_next{
	background-position:0px -28px;
	margin-top:29px;
}
.tf_prev{
	background-position:0px px;
	margin-top:0px;
}
.tf_next:hover,
.tf_prev:hover{
	opacity:0.9;
}
.tf_zoom,
.tf_fullscreen{
	width:20px;
	height:20px;
	position:absolute;
	top:6px;
	right:6px;
	cursor:pointer;
	z-index:100;
	opacity:0.6;
	background:transparent url(../images/icons.png) no-repeat top left;
}
.tf_zoom{
	background-position:0px -20px;
}
.tf_fullscreen{
	background-position:0px 0px;
}
.tf_zoom:hover,
.tf_fullscreen:hover{
	opacity:0.9;
}
.reference{
	font-family: BandaRegular, "Gill Sans", "Century Gothic", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	position:fixed;
	bottom:0px;
	right:0px;
	background:#000;
	height:23px;
	text-align:right;
	width:100%;
	text-shadow:1px 1px 1px #000;
	z-index:999;
	opacity:0.8;
}
.description{
	position:fixed;
	bottom:6px;
	right:5px;
	font-family: BandaRegular, "Gill Sans", "Century Gothic", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-shadow:1px 1px 1px #000;
	z-index:999;
}
.reference a, .description span{
	color:#fff;
	text-transform: uppercase;
	margin-left:20px;
	text-decoration:none;
	font-family:Arial;
	font-size:10px;
}
a.last{
	float:left;
	line-height:23px;
}
.reference a:hover{
	text-shadow:0px 0px 1px #fff;
}

body #slider {
	position: absolute;
	margin: 345px 0px 0px 0px;
	right: 30px;
	font-family: FranklinGothicStdXCn, "Gill Sans", "Century Gothic", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 50px;
	z-index: 10;
	text-transform: uppercase;
	color: #ffffff;
	opacity:.3; /* FX/Opera/Safari/Chrome */
	-ms-filter:"alpha(opacity=30)"; /* IE8 */
	filter:alpha(opacity=30); /* IE6/IE7 */
	
}
body#aboutme {
	background: #333;
}



/*SITE NAVIGATION*/

p {
	padding: 0 0px 30px 30px;
	color: #fff;
	font-family: banda, "Gill Sans", "Century Gothic", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 11pt;
	text-shadow: #000 0px 1px 0px;
	line-height: 200%;
}

p a {
	font-size: 10pt;
	text-decoration: none;
	outline: none;
	color: #ddd;
	background: #222;
	border-top: 1px solid #333;
	padding: 5px 8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 1px 1px #000;
	-webkit-box-shadow: 0px 1px 1px #000;
	box-shadow: 0px 1px 1px #000;
}

p a:hover {
	background-color: #427cb4;
	border-color: #5c94cb;
	color: #fff;
}

h1 {
	font-size: 64px;
	padding: 10px 0px 0px 30px;
	margin: 0px;
	font-family: ITCAvantGardeGothicStdDemiCn, "Gill Sans", "Century Gothic", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #acacad;
	font-weight: normal;
	text-transform: uppercase;
}
h1 a, h1 a:visited {
	text-decoration: none;
	color: #7e7d7e;
}
h1 a:hover {
	text-decoration: none;
	color: #59595a;
}

h2 {
	font-size: 26px;
	padding: 0px 0px 10px 30px;
	font-family: ITCAvantGardeGothicStdBkCn, "Gill Sans", "Century Gothic", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #acacad;
	font-weight: normal;
	margin: 0px;
	text-transform: uppercase;
}
h2 a, h2 a:visited {
	text-decoration: none;
	color: gray;
}
h2 a:hover {
	text-decoration: none;
	color: #606060;
}

/*
h3 {
	padding: 10px 0px 0px 10px;
	float: left;
}
*/
h3 {
	font: 22px/11px ITCAvantGardeGothicStdDemiCn, "Gill Sans", "Century Gothic", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color:#ffffff;
	opacity:.75; /* FX/Opera/Safari/Chrome */
	-ms-filter:"alpha(opacity=75)"; /* IE8 */
	filter:alpha(opacity=75); /* IE6/IE7 */
	text-shadow: 1px 1px 3px black;
	padding: 0px 0px 0px 10px;
}

#content {
	clear: both;
	position: absolute;
	top: 10px;
	left: 0px;
	width: 290px;
	text-align: left;
	z-index: 1200;
}


#logo {
	float: left;
	margin: 10px 0px 0px 2px;
	width: 220px;
}
#logo h1, #logo h1 a:visited {
	padding: 0px 0px 0px 12px;
	color:#ffffff;
	font: 70px/50px FranklinGothicStdXCn, "Gill Sans", "Century Gothic", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	opacity:.5; /* FX/Opera/Safari/Chrome */
	-ms-filter:"alpha(opacity=50)"; /* IE8 */
	filter:alpha(opacity=50); /* IE6/IE7 */
	
}

#logo h2, #logo h2 a:visited {
	font: 13px/11px ITCAvantGardeGothicStdDemiCn, "Gill Sans", "Century Gothic", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 10px 0px 0px 12px;
	color:#ffffff;
	margin: 3px 0px 0px 0px;
	opacity:.5; /* FX/Opera/Safari/Chrome */
	-ms-filter:"alpha(opacity=50)"; /* IE8 */
	filter:alpha(opacity=50); /* IE6/IE7 */
	text-shadow: 1px 1px 4px black;
}
#menu {
	float: left;
	width: 100px;
	height: 52px;
	margin: 6px 0px 0px 0px;
	padding: 0px;
	z-index: 1201;
}

#menu ul {
	list-style: none;
	padding: 1px 0px 0px 0px;
	margin: 0px;
}

#menu ul li {
	padding: 0px;
	color: #bebebe;
	font: 18px/17px ITCAvantGardeGothicStdDemiCn, "Gill Sans", "Century Gothic", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#menu ul li a,  #menu ul li a:visited {
	color: #fff;
	text-decoration: none;
}
#logo h1 a:hover, #logo h2 a:hover, #menu ul li a:hover {
	color: #427cb4;;
	
}

#paragrafo {
	padding: 0px;
	font-size: 14px;
	position: absolute;
	top: 140px;
	left: 85px;
	width: 500px;
	z-index: 1318;
}

#paragrafo p {
	color: #fff;
	font-family: ITCAvantGardeGothicStdBkCn, "Gill Sans", "Century Gothic", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 15px;
	line-height: 1.3em;
	text-shadow: none;
	font-weight: normal;
	text-transform: uppercase;

}
#paragrafo p.small a {
	text-decoration: none;
	outline: none;
	color: #ddd;
	background: #222;
	border-top: 1px solid #333;
	padding: 2px 6px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 1px 1px #000;
	-webkit-box-shadow: 0px 1px 1px #000;
	box-shadow: 0px 1px 1px #000;	
}
#paragrafo p.small a:hover {
	background-color: #427cb4;
	border-color: #5c94cb;
	color: #fff;
}
#paragrafo p.small {
	color: #fff;
	font-size: 12px;
	line-height: 1.7em;
	text-shadow: none;
	font-weight: normal;
}

#footer {
	position: absolute;
	width: 100%;
	height: 27px;
	padding: 0px;
	margin: 0px;
	bottom: 0px;
	background: url(../images/blackBack.png) repeat;
	z-index: 1500;
}

#footer p {
	font-size: 10px;
	text-transform: uppercase;
	padding: 3px 140px 0px 10px;
	margin: 0px;
	text-shadow:1px 1px 1px #000;
}

#footer p a {
	font-size: 10px;
	border: none;
	padding: 5px 4px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-moz-box-shadow: 0px;
	-webkit-box-shadow: 0px;
	box-shadow: 0px;
	background: none;
}

#footer p a:hover {
	background: #427cb4;
}

#ilike {
	position: absolute;
	display: block;
	width: 120px;
	height: 21px;
	padding: 0px;
	margin: 0px;
	right: 0px;
	bottom: 4px;
	z-index: 16;
}
#pinterest {
	position: absolute;
	display: block;
	height: 20px;
	padding: 0px;
	margin: 0px;
	right: 400px;
	bottom: 4px;
	z-index: 19;
}
#twitter {
	position: absolute;
	display: block;
	height: 20px;
	padding: 0px;
	margin: 0px;
	right: 152px;
	bottom: 4px;
	z-index: 18;
}
#linkedin {
	position: absolute;
	display: block;

	height: 20px;
	padding: 0px;
	margin: 0px;
	right: 324px;
	bottom: 4px;
	z-index: 19;
}
#google {
	position: absolute;
	display: block;

	height: 20px;
	padding: 0px;
	margin: 0px;
	right: 304px;
	bottom: 4px;
	z-index: 19;
}